body {
    margin: 0;
    padding: 0;
    display: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.bttn {
    position: relative;
    color: #C8CF42;
    font-family: "kanit";
    font-weight: semi-bold;
    font-size: 40px;
    line-height: 140%;
    display: inline-block;
    width: 250px;
    height: 250px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin:  25px;
}
.bttn::before {
    position: absolute;
    content: '';
    width: 250px;
    height: 250px;
    background-color: black;
    z-index: -1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: rotate 20s linear infinite;
}
.green {
    background-color: #000000;
}
.green::before {
    border: 3px dashed #C8CF42;
}
@keyframes rotate {
    from {
        transform: translate(-50%,-50%) rotate(360deg);
    }
    to {
        transform: translate(-50%,-50%) rotate(-360deg);
    }
}
.bttn p {
    opacity: 0%;
    margin: -130px -30%;
    padding-inline: 32%;
    position: relative;
    font-size: 11px;
    text-align: center;
    color: #C8CF42;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 180%;
}
.bttn:hover.bttn p {
    opacity: 100%;
}
.bttn:hover.bttn {
    color: #000000;
}